body{
    font-family: 'Roboto', sans-serif;
}

#blood {
    padding: 10px 112px 10px 10px;
    border-radius: 40px;
}

.filter{
    position: absolute;
    top: 120px;
    right: 20px;
}

.filter input{
    border-radius: 20px;
    padding: 5px 15px;
}

.filter input:focus{
    outline: none;
}

@media (max-width: 950px){
    .filter{
        position: absolute;
        top: 60px;
        right: 0;
        z-index: -1;
    }

    .filter input{
        padding: 1px 5px;
        width: 125px;
        z-index: -1;
    }
}